.rst-versions {
    top: 9em;
    bottom: unset;
    background-color: #343131;
    text-align:center;
    position: absolute;
}

.wy-nav-top {    
    background-color: #343131;
}

.wy-side-nav-search{
    background-color: unset;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    height: 7em;
    margin-bottom: 3em;
}

.rst-versions .rst-current-version{
    background-color: #343131;
    display: none;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 1em;
    position: relative;
    text-align: left;

}

.rst-versions .rst-current-version .fa-caret-down {
    position: absolute;
    right: 1em;
}

.rst-content .admonition-title {
    background-color: #343131;
}

html.writer-html5 .rst-content dl.citation, html.writer-html5 .rst-content dl.field-list, html.writer-html5 .rst-content dl.footnote {
    margin-bottom: 4px;
}

html.writer-html5 .rst-content dl.citation > dt, html.writer-html5 .rst-content dl.field-list > dt, html.writer-html5 .rst-content dl.footnote > dt {
    padding-left: 0rem;
}

.rst-content .line-block {
    margin-bottom: 1px;
}

.rst-content .admonition-title::before {
    display: none;
}

.rst-content .admonition {
    background-color: #e3e3e3;
}

.toctree-wrapper{
    display: none;
}

.rst-content dl dt {
  margin-bottom: 0px;
}

.rst-content dl dd {
  margin: 0 0 0px 24px;
}

@media screen and (max-width:768px) {
    .rst-versions {
     width:100%;
    }
}

button.toggle-button {
  color: white;
}
