.rst-versions {
    top: 9em;
    bottom: unset;
    background-color: #343131;
    text-align:center;
    position: absolute;
}

.wy-nav-top {    
    background-color: #343131;
}

.wy-side-nav-search{
    background-color: unset;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    height: 7em;
    margin-bottom: 3em;
}

.rst-versions .rst-current-version{
    background-color: #343131;
    display: none;
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.5em 1em;
    position: relative;
    text-align: left;

}

.rst-versions .rst-current-version .fa-caret-down{
    position: absolute;
    right: 1em;
}

.rst-content .admonition-title, .wy-alert-title {
    background-color: #343131;
}

.rst-content .admonition, .rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .danger, .rst-content .error, .rst-content .hint, .rst-content .important, .rst-content .note, .rst-content .seealso, .rst-content .tip, .rst-content .warning, .wy-alert {
    background-color: #e3e3e3;
}

html.writer-html5 .rst-content dl.citation, html.writer-html5 .rst-content dl.field-list, html.writer-html5 .rst-content dl.footnote {
    margin-bottom: 6px;
}

.toctree-wrapper{
    display: none;
}


@media screen and (max-width:768px) {
    .rst-versions {
     width:100%;
    }
}
