.rst-versions {
    top: 8em;
}

.wy-side-nav-search{
    background-color: unset;
}

.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    height: 7em;
    margin-bottom: 3em;
}

.rst-versions .rst-current-version{
    display: inline-block;
}

.toctree-wrapper{
    display: none;
}